body{
    background-color: #FFFF99;
    font-size: 1.75em;
    font-family: "Comic Sans MS";  
}
#slideImg{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#captionLabel {
    font-size: .75em;
    text-align: center;
}
.button{
    text-align: center;
}

